{{ template "header.html" . }}
{{ if .User.IsLoggedIn }}
<link rel="stylesheet" href="{{ link "user_styles" .User.DBUser.Username }}" />
{{ end }}

<div class="user-styles-applied us-user-home user-home">
<div class="container col-md-8">
  <div class="row justify-content-md-center mt-lg-4 mt-2">
    <h1 class="us-user-header user-header">{{ if .User.IsLoggedIn }}<a href="{{ link "user" .User.DBUser.Username }}">{{ .User.DBUser.Username }}</a>  &#8594; {{ end }}{{ .Name }}</h1>

    {{ if .Capabilities.ShowPromptForm }}
      {{ template "partial--feed-prompts.html" toMap "OpenPrompts" .OpenPrompts "DirectConnections" .DirectConnections }}
    {{ end }}

    {{ if eq (len .Items) 0 }}
    <p>No posts yet</p>
    {{ else }}
      {{ range .Items }}
        {{ with .Comment }}
          <div class="mt-3 us-feed-comment feed-comment">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fs-6">New Comment: <a href="{{ link "post" .Post.ID }}">{{ .Post.PostSubject }}</a> </h5>
                <small> <a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> left a <a hx-boost="false" href="{{ link "comment" .PostID .ID }}">comment</a> {{ if eq $.User.DBUser.ID .Post.UserID }} to your post {{ else }} to the post you've commented on {{ end }} at {{ renderTimestamp .CreatedAt $.User.DBUser }} </small>
              </div>
              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Body }}</div>
              </div>
            </div>
          </div>
        {{ end }}

        {{ with .Post }}
          <div class="mt-3 us-feed-post feed-post">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title fs-6"><a href="{{ link "post" .ID }}">{{ .PostSubject }}</a> </h5>
                <small><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> {{ if gt (len .Via) 0 }}  &#8594; {{ range $index, $element := .Via }}{{ if $index }}, {{ end }}<a href="{{ link "user" $element.Username }}">{{ .Username }}</a>{{ end }}{{ end }} <span class="us-post-date post-date">posted at {{ renderTimestamp .PublishedAt.Time $.User.DBUser }}</span></small>
              </div>

              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Body }}</div>

                {{ if .LinkedURL }}
                <div class="mt-2 text-center">
                  <a href="{{ .LinkedURL.URL }}" target="_blank" rel="noopener noreferrer">{{ .LinkedURL.URL }}</a>
                </div>
                {{ end }}

                {{ if .Capabilities.CanViewComments }}
                <div class="text-center mt-2 us-feed-post-stats feed-post-stats">
                  <a href="{{ link "post" .ID }}">
                  {{ if eq 0 .CommentsNumber }}
                    No Comments yet
                  {{ else if eq 1 .CommentsNumber }}
                    One comment
                  {{ else }}
                    {{ .CommentsNumber }} comments
                  {{ end }}
                  </a>

                  {{ if .Capabilities.CanEdit }}
                    <a href="{{ link "edit_post" .ID }}">Edit</a>
                  {{ end }}
                </div>
                {{ end }}

              </div>
            </div>
          </div>
        {{ end }}

        {{ with .FeedItem }}
          <div class="mt-3 us-feed-rss-item feed-post">
            <div class="card">
              <div class="card-header">
                <div class="d-flex w-100 justify-content-between">
                  <div>
                    <h5 class="card-title fs-6"><a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ with .Title }}{{ . }}{{ else }}No Title{{ end }}</a></h5>
                    <small><i class="bi bi-rss"></i> <a href="{{ .FeedURL }}">{{ with .FeedTitle }}{{ . }}{{ else }}no name yet{{ end }}</a> <span class="us-post-date post-date">posted at {{ renderTimestamp .PublishedAt $.User.DBUser }}</span></small>
                  </div>
                  <div>
                    <button type="button"
                            class="btn btn-sm btn-danger"
                            data-controller="action"
                            data-action="action#run"
                            data-action-action-value="dissmiss_rss_item"
                            data-action-prompt-value="Do you want to remove the item from the feed?"
                            data-id="{{ .ID }}"
                            ><i class="bi-trash"></i></button>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Summary }}</div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
</div>

{{ template "footer.html" . }}
