{{ template "header.html" . }}
<link rel="stylesheet" href="{{ link "user_styles" .User.DBUser.Username }}" />

<div class="user-styles-applied us-user-home user-home">
<div class="container col-md-8">
  <div class="row justify-content-md-center mt-lg-4 mt-2">
    <h1 class="us-user-header user-header"><a href="{{ link "user" .User.DBUser.Username }}">{{ .User.DBUser.Username }}</a>  &#8594; Your Feed</h1>

    {{ template "form--post-prompt.html" toMap "DirectConnections" .DirectConnections }}

    {{ range .OpenPrompts }}
      <div class="mt-3">
        <div class="card">
          <h5 class="card-header fs-6">
            <a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> prompted you to write a post at {{ renderTimestamp .Prompt.CreatedAt $.User.DBUser }}
          </h5>
          <div class="card-body">
            <div class="d-flex">
              <div class="p-2 flex-grow-1">{{ .Prompt.Message }}</div>
              {{ if .Post }}
              <div class="p-2"><a href="{{ link "edit_post" .Post.ID }}">Edit your post</a></div>
              {{ else }}
              <div class="p-2"><a href="{{ link "write" "prompt" .Prompt.ID }}">Write</a></div>
              {{ end }}
              <div class="p-2">
                <button type="button"
                        class="btn btn-sm btn-danger"
                        data-controller="action"
                        data-action="action#run"
                        data-action-action-value="dismiss_prompt"
                        data-prompt-id="{{ .Prompt.ID }}"
                        data-action-prompt-value="Do you want to dismiss the prompt from  {{ .Author.Username }}?"
                        >Dismiss</button>
            </div>
          </div>
        </div>
      </div>
    {{ end }}

    {{ if eq (len .Items) 0 }}
    <p>No posts yet</p>
    {{ else }}
      {{ range .Items }}
        {{ with .Comment }}
          <div class="mt-3 us-feed-comment feed-comment">
            <div class="card">
              <h5 class="card-header fs-6">
                <a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> left a <a hx-boost="false" href="{{ link "comment" .PostID .ID }}">comment</a>
                {{ if eq $.User.DBUser.ID .Post.UserID }}
                to your post
                {{ else }}
                to the post you've commented on
                {{ end }}
                <a href="{{ link "post" .Post.ID }}">{{ .Post.PostSubject }}</a>
                at {{ renderTimestamp .CreatedAt $.User.DBUser }}
              </h5>
              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Body }}</div>
              </div>
            </div>
          </div>
        {{ end }}

        {{ with .Post }}
          <div class="mt-3 us-feed-post feed-post">
            <div class="card">
              <h5 class="card-header fs-6"><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> &#8594; {{ if gt (len .Via) 0 }} {{ range $index, $element := .Via }}{{ if $index }}, {{ end }}<a href="{{ link "user" $element.Username }}">{{ .Username }}</a>{{ end }} &#8594;{{ end }}<a href="{{ link "post" .ID }}">{{ .PostSubject }}</a> <span class="us-post-date post-date">posted at {{ renderTimestamp .PublishedAt.Time $.User.DBUser }}</span></h5>
              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Body }}</div>

                {{ if .LinkedURL }}
                <div class="mt-2 text-center">
                  <a href="{{ .LinkedURL.URL }}" target="_blank" rel="noopener noreferrer">{{ .LinkedURL.URL }}</a>
                </div>
                {{ end }}

                {{ if .Capabilities.CanViewComments }}
                <div class="text-center mt-2 us-feed-post-stats feed-post-stats">
                  <a href="{{ link "post" .ID }}">
                  {{ if eq 0 .CommentsNumber }}
                    No Comments yet
                  {{ else if eq 1 .CommentsNumber }}
                    One comment
                  {{ else }}
                    {{ .CommentsNumber }} comments
                  {{ end }}
                  </a>

                  {{ if .Capabilities.CanEdit }}
                    <a href="{{ link "edit_post" .ID }}">Edit</a>
                  {{ end }}
                </div>
                {{ end }}

              </div>
            </div>
          </div>
        {{ end }}

        {{ with .FeedItem }}
          <div class="mt-3 us-feed-post feed-post">
            <div class="card">
              <h5 class="card-header fs-6">New item from your feed <a href="{{ . }}">{{ with .FeedTitle }}{{ . }}{{ else }}no name yet{{ end }}</a> {{ .Title }} <span class="us-post-date post-date">posted at {{ renderTimestamp .PublishedAt $.User.DBUser }}</span></h5>
              <div class="card-body">
                <div class="mt-3 post-in-feed">{{ markdown_feed .Summary }}</div>

                <div class="mt-2 text-center">
                  <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .URL }}</a>
                </div>

                <div class="text-center mt-2 us-feed-post-stats feed-post-stats">
                  <button type="button"
                          class="btn btn-sm btn-danger"
                          data-controller="action"
                          data-action="action#run"
                          data-action-action-value="dissmiss_rss_item"
                          data-id="{{ .ID }}"
                          ><i class="bi-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
</div>

{{ template "footer.html" . }}
