<form class="settings-form"
      method="POST"
      action="{{ link "form_add_user_feed" }}"
      hx-post="{{ link "form_add_user_feed" }}"
      hx-swap="outerHTML"
      hx-disabled-elt="this"
      autocomplete="off"
      novalidate
      >
  <div class="settings-inline">
    <div class="field">
      <label for="settingsFeedURL">Feed URL</label>
      <input name="url" type="url" id="settingsFeedURL"
             value="{{ if .Input }}{{ .Input.URL }}{{ end }}"
             placeholder="https://example.org/feed.xml"
             {{ if (.Errors.HasError "url") }}aria-invalid="true" aria-describedby="settingsFeedURLError"{{ end }}>
      {{ if (.Errors.HasError "url") }}
      <p class="field-error" id="settingsFeedURLError">{{ .Errors.url }}</p>
      {{ end }}
    </div>
    <div class="settings-row">
      <button type="submit" class="btn btn-primary">Add feed</button>
      {{ template "partial--settings_status.html" . }}
    </div>
  </div>
</form>
