{{ if .FormSaved }}
  {{ template "partial--success-message.html" toMap "Message" "Password has been changed successfully" }}
{{ end }}

<form
      method="POST"
      action="{{ link "form_change_password" }}"
      hx-post="{{ link "form_change_password" }}"
      hx-swap="outerHTML"
      >

  <div class="mb-3">
    <label for="settingsOldPassword" class="form-label">Old Password</label>
    <input name="old_password" type="password"
                        value=""
                        class="form-control {{ if (.Errors.HasError "old_password") }}is-invalid{{ end }}"
                        id="settingsOldPassword"
                        required>
    {{ if (.Errors.HasError "old_password") }}
    <div class="invalid-feedback">{{ .Errors.old_password }}</div>
    {{ end }}
  </div>

  <div class="mb-3">
    <label for="settingsPassword" class="form-label">New Password</label>
    <input name="password" type="password"
                        value="{{ if .Input }}{{ .Input.Password }}{{ end }}"
                        class="form-control {{ if (.Errors.HasError "password") }}is-invalid{{ end }}"
                        id="settingsPassword" aria-describedby="passwordHelp"
                        required pattern=".{8,}">
    <div id="passwordHelp" class="form-text">Eight or more characters please</div>
    {{ if (.Errors.HasError "password") }}
    <div class="invalid-feedback">{{ .Errors.password }}</div>
    {{ end }}
  </div>

  <button type="submit" class="btn btn-primary">Change password</button>
</form>
