<form
      method="POST"
      action="{{ link "form_whitelist_connection" }}"
      hx-post="{{ link "form_whitelist_connection" }}"
      hx-swap="outerHTML"
      hx-disabled-elt="this"
      >

  <div class="field">
    <label for="newPostUsername">Username</label>
    <input name="uname" type="text"
                        value="{{ if .Input }}{{ .Input.Username }}{{ end }}"
                        {{ if (.Errors.HasError "username") }}aria-invalid="true" aria-describedby="newPostUsernameError"{{ end }}
                        placeholder="{{ .User.Username }}"
                        id="newPostUsername" required>
    {{ if (.Errors.HasError "username") }}
    <p class="field-error" id="newPostUsernameError" data-testid="field-error-username">{{ .Errors.username }}</p>
    {{ end }}
  </div>

  <div class="auth-submit">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
