{{ if .DraftSaved }}
<div id="last_draft_save">
  <input type="hidden" name="post_id" value="{{ .PostID }}" />
  <p class="fw-lighter">Last Updated at {{ renderTimestamp .LastUpdatedAt .User }}</p>
</div>
{{ else }}
<div id="form-container" class="container mt-lg-4 mt-2 flex-grow-1 d-flex flex-column">
  <h1>{{ if .PostID }}Edit Post{{ if not .IsPublished }} <small class="text-muted">Draft</small>{{ else }} <a href="{{ link "post" .PostID }}">link</a>{{ end }}{{ else }}New Post{{ end }}</h1>

  {{ with .Prompt }}
  <div class="alert alert-info" role="alert">
    {{ .Author.Username }} has asked: {{ .Prompt.Message }}
  </div>
  {{ end }}

  <form
        method="POST"
        action="{{ link "form_edit_post" }}"
        hx-post="{{ link "form_edit_post" }}"
        hx-swap="outerHTML"
        hx-target="#form-container"
        hx-trigger="change delay:2s, keyup delay:2s, submit"
        hx-disabled-elt="this"
        class="flex-grow-1 d-flex flex-column gap-lg-3 gap-2"
        >

    <div id="last_draft_save">
    {{ if .PostID }}
      <input type="hidden" name="post_id" value="{{ .PostID }}" />
      <small class="fw-lighter">Last Updated at {{ renderTimestamp .LastUpdatedAt .User }}</small>
    {{ else }}
      {{ with .Prompt }}
        <input type="hidden" name="prompt_id" value="{{ .Prompt.ID }}" />
      {{ end }}
    {{ end }}
    </div>

    <div>
      <input name="subject" type="subject"
                          value="{{ if .Input }}{{ .Input.Subject }}{{ end }}"
                          class="form-control {{ if (.Errors.HasError "subject") }}is-invalid{{ end }}"
                          placeholder="Subject"
                          aria-describedby="subjectHelp">
      {{ if (.Errors.HasError "subject") }}
      <div class="invalid-feedback">{{ .Errors.subject }}</div>
      {{ end }}
    </div>

    <div class="d-flex flex-column flex-grow-1"
        data-controller="mdeditor"
        data-mdeditor-upload-value="{{ link "action" "upload_media" }}"
      >
      <div class="mt-2 mb-2 d-flex flex-row flex-wrap text-editor-toolbar">
        <i role="button" data-command="bold" class="bi bi-type-bold" title="Bold text"></i>
        <i role="button" data-command="italic" class="bi bi-type-italic" title="Italic text"></i>
        <i role="button" data-command="block-quotes" class="bi bi-quote" title="Insert a quote"></i>
        <i role="button" data-command="unordered-list" class="bi bi-list-ul" title="Insert a list"></i>
        <i role="button" data-command="code-block" class="bi bi-code" title="Insert a code block"></i>
        <i role="button" data-command="link" class="bi bi-link-45deg" title="Insert a link"></i>
        <i role="button" data-command="cut" class="bi bi-hr" title="Hide part of the post from the feed"></i>
        <i role="button" data-command="spoiler" class="bi bi-arrows-collapse" title="Hide the text behind spoiler block"></i>
        <i role="button" data-command="gallery" class="bi bi-back" title="Group images into a gallery"></i>
        <div class="custom-file">
          <label for="file_upload"><i role="button" class="bi bi-camera" title="Upload images"></i></label>
          <input class="d-none" type="file" id="file_upload" aria-label="Custom controls" multiple>
        </div>
        {{ if .PostID }}
        <a target="_blank" href="{{ link "post" .PostID "edit_preview" "true" }}" class="text-reset"><i role="link" class="bi bi-card-text" title="Open post preview"></i></a>
        {{ else }}
        <a target="_blank" id="show_preview" href="" class="text-reset d-none"><i role="link" class="bi bi-card-text" title="Open post preview"></i></a>
        {{ end }}
      </div>

      <textarea class="form-control form-control-sm flex-grow-1 mh-auto" name="body" placeholder="Your post goes there" rows="10">{{ if .Input }}{{ .Input.Body }}{{ end }}</textarea>
      {{ if (.Errors.HasError "body") }}
      <div class="invalid-feedback">{{ .Errors.body }}</div>
      {{ end }}
    </div>


    <div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="visibility" id="visibilityDirect"
                                                                      value="direct_only"
        {{ if .Input }}{{ if eq .Input.Visibility "direct_only" }}checked{{ end }}{{ end }}
        >
        <label class="form-check-label" for="visibilityDirect">
          Show to direct connections only
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="visibility" id="visibilitySecondDegree" value="second_degree"
        {{ if not .Input }}checked{{ end }}
        {{ if .Input }}{{ if eq .Input.Visibility "second_degree" }}checked{{ end }}{{ end }}
        >
        <label class="form-check-label" for="visibilitySecondDegree">
          Show to their connections as well
        </label>
      </div>
      {{ if (.Errors.HasError "visibility") }}
      <div class="invalid-feedback">{{ .Errors.visibility }}</div>
      {{ end }}
    </div>

    <div class="d-flex gap-2">
      {{ if .IsPublished }}
        <button type="submit" class="btn btn-primary btn-sm" name="save_action"  value="save_post">Save Post</button>
        <button type="submit"
                class="btn btn-outline-primary btn-sm"
                name="save_action"
                value="make_draft"
                data-controller="confirm"
                data-confirm-message-value="Do you really want to turn the post into draft? It will disappear from the feeds"
                >Back to draft</button>
      {{ else }}
        <button type="submit" class="btn btn-primary btn-sm" name="save_action"  value="save_post">Save as Draft</button>
        <button type="submit"
                class="btn btn-outline-primary btn-sm"
                name="save_action"
                value="publish"
                data-controller="confirm"
                data-confirm-message-value="Do you really want to publish this post?"
                >Publish</button>
      {{ end }}
        <button type="submit"
                class="btn btn-danger btn-sm"
                name="save_action"
                value="delete"
                data-controller="confirm"
                data-confirm-message-value="Do you really want to delete this post? The action cannot be reversed"
                >Delete</button>
    </div>
  </form>
</div>
{{ end }}
