<form
  method="POST"
  action="{{ link "form_accept_invite" .Invite.ID }}"
  hx-post="{{ link "form_accept_invite" .Invite.ID }}"
  hx-swap="outerHTML"
  hx-disabled-elt="this"
  >

  <div class="field">
    <label for="acceptInviteEmail">Email address</label>
    <input name="email" type="email"
                        value="{{ .Invite.InvitationEmail.String }}"
                        id="acceptInviteEmail"
                        disabled>
  </div>

  <div class="field">
    <label for="createAccountUsername">Username</label>
    <input name="username" type="text"
                           value="{{ if .Input }}{{ .Input.Username }}{{ end }}"
                           aria-describedby="usernameHelp{{ if (.Errors.HasError "username") }} createAccountUsernameError{{ end }}"
                           {{ if (.Errors.HasError "username") }}aria-invalid="true"{{ end }}
                           id="createAccountUsername"
                           required>
    <p id="usernameHelp" class="field-help">3-20 characters, first character is a letter, digits and underscores are allowed, multiple underscores in a row are not allowed</p>
    {{ if (.Errors.HasError "username") }}
    <p class="field-error" id="createAccountUsernameError" data-testid="field-error-username">{{ .Errors.username }}</p>
    {{ end }}
  </div>

  <div class="auth-submit">
    <button type="submit" class="btn btn-primary">Create an account</button>
  </div>
</form>
