<form
      method="POST"
      action="{{ link "form_save_profile" }}"
      hx-post="{{ link "form_save_profile" }}"
      hx-swap="outerHTML"
      hx-disabled-elt="this"
      >

  <div class="mb-3"
       data-controller="mdeditor"
       data-mdeditor-upload-value="{{ link "action" "upload_media" }}"
    >
    <label for="profileAbout" class="form-label">About you</label>

    {{ template "partial--editor-toolbar.html" toMap "UploadID" "profileFileUpload" }}

    <textarea class="form-control comment-textarea {{ if (.Errors.HasError "about") }}is-invalid{{ end }}"
              name="about"
              id="profileAbout"
              rows="6"
              autocomplete="off"
              >{{ if .Input }}{{ .Input.About }}{{ end }}</textarea>
    {{ if (.Errors.HasError "about") }}
    <div class="invalid-feedback">{{ .Errors.about }}</div>
    {{ end }}
  </div>

  <button type="submit" class="btn btn-primary">Save profile</button>
</form>
