<form
      method="POST"
      action="{{ link "form_signup" }}"
      hx-post="{{ link "form_signup" }}"
      hx-swap="outerHTML"
      >

  <input type="hidden" name="attribution" value="{{ if .Attribution }}{{ .Attribution }}{{ else if .Input }}{{ if .Input.Attribution }}{{ .Input.Attribution }}{{ end }}{{ end }}" />

  <div class="mb-3">
    <label for="createAccountEmail" class="form-label">Email address</label>
    <input name="email" type="email"
                        value="{{ if .Input }}{{ .Input.Email }}{{ end }}"
                        class="form-control {{ if (.Errors.HasError "email") }}is-invalid{{ end }}"
                        id="createAccountEmail" aria-describedby="emailHelp"
                        required>
    {{ if (.Errors.HasError "email") }}
    <div class="invalid-feedback">{{ .Errors.email }}</div>
    {{ end }}
  </div>

  <div class="mb-3">
    <label for="createAccountPassword" class="form-label">Password</label>
    <input name="password" type="password"
                        value="{{ if .Input }}{{ .Input.Password }}{{ end }}"
                        class="form-control {{ if (.Errors.HasError "password") }}is-invalid{{ end }}"
                        id="createAccountPassword" aria-describedby="passwordHelp"
                        required>
    <div id="passwordHelp" class="form-text">Eight or more characters please</div>
    {{ if (.Errors.HasError "password") }}
    <div class="invalid-feedback">{{ .Errors.password }}</div>
    {{ end }}
  </div>

  <button type="submit" class="btn btn-primary w-100">Create an account</button>

  <div class="col-12 mt-3 form-text">
    <p class="mb-0">By signing up, you agree to our <a href="{{ link "terms_of_service" }}">terms of service</a> and <a href="{{ link "privacy_policy" }}">privacy policy.</a></p>
  </div>

  <div class="col-12 mt-3 form-text">
    <p class="mb-0">Have account? <a href="{{ link "login" }}">Log in!</a></p>
  </div>
</form>
