<form
      method="POST"
      action="{{ link "form_signup" }}"
      hx-post="{{ link "form_signup" }}"
      hx-swap="outerHTML"
      hx-disabled-elt="this"
      >

  <input type="hidden" name="attribution" value="{{ if .Attribution }}{{ .Attribution }}{{ else if .Input }}{{ if .Input.Attribution }}{{ .Input.Attribution }}{{ end }}{{ end }}" />

  <div class="field">
    <label for="createAccountEmail">Email address</label>
    <input name="email" type="email"
                        value="{{ if .Input }}{{ .Input.Email }}{{ end }}"
                        {{ if (.Errors.HasError "email") }}aria-invalid="true" aria-describedby="createAccountEmailError"{{ end }}
                        id="createAccountEmail"
                        required>
    {{ if (.Errors.HasError "email") }}
    <p class="field-error" id="createAccountEmailError" data-testid="field-error-email">{{ .Errors.email }}</p>
    {{ end }}
  </div>

  <div class="field">
    <label for="createAccountUsername">Username</label>
    <input name="username" type="text"
                        value="{{ if .Input }}{{ .Input.Username }}{{ end }}"
                        aria-describedby="usernameHelp{{ if (.Errors.HasError "username") }} createAccountUsernameError{{ end }}"
                        {{ if (.Errors.HasError "username") }}aria-invalid="true"{{ end }}
                        id="createAccountUsername"
                        required>
    <p id="usernameHelp" class="field-help">3-20 chars, first character is a letter, digits and underscores are allowed, multiple underscores in a row are not allowed</p>
    {{ if (.Errors.HasError "username") }}
    <p class="field-error" id="createAccountUsernameError" data-testid="field-error-username">{{ .Errors.username }}</p>
    {{ end }}
  </div>

  <div class="auth-submit">
    <button type="submit" class="btn btn-primary">Create an account</button>
  </div>

  <p class="field-help auth-links">By signing up, you agree to our <a href="{{ link "terms_of_service" }}">terms of service</a> and <a href="{{ link "privacy_policy" }}">privacy policy.</a></p>
  <p class="field-help auth-links">Have account? <a href="{{ link "login" }}">Log in!</a></p>
</form>
