<form class="settings-form"
      method="POST"
      action="{{ link "form_send_invite" }}"
      hx-post="{{ link "form_send_invite" }}"
      hx-swap="outerHTML"
      hx-disabled-elt="this"
      >
  <div class="settings-inline">
    <div class="field">
      <label for="sendInviteEmail">Email address</label>
      <input name="email" type="email" id="sendInviteEmail"
             value="{{ if .Input }}{{ .Input.Email }}{{ end }}"
             placeholder="friend@example.org"
             required
             {{ if (.Errors.HasError "email") }}aria-invalid="true" aria-describedby="sendInviteEmailError"{{ end }}>
      {{ if (.Errors.HasError "email") }}
      <p class="field-error" id="sendInviteEmailError">{{ .Errors.email }}</p>
      {{ end }}
    </div>
    <div class="settings-row">
      <button type="submit" class="btn btn-primary">Send invite</button>
      {{ template "partial--settings_status.html" . }}
    </div>
  </div>
</form>
