<form
    class="us-comment-form"
    data-controller="commentform"
      method="POST"
      action="{{ if .EditID }}{{ link "edit_comment" .EditID }}{{ else }}{{ link "form_new_comment" }}{{ end }}"
      hx-post="{{ if .EditID }}{{ link "edit_comment" .EditID }}{{ else }}{{ link "form_new_comment" }}{{ end }}"
      hx-swap="outerHTML scroll:no-scroll"
      hx-disabled-elt="this"
      >

  {{ if .ReplyTo }}
  <p class="meta reply-to">Replying to <a href="{{ link "user" .ReplyToAuthor }}">{{ .ReplyToAuthor }}</a></p>
  {{ end }}

  {{ if not .EditID }}
  <input type="hidden" name="post_id" value="{{ .PostID }}" />
  {{ end }}
  {{ if .ReplyTo }}
  <input type="hidden" name="reply_to" value="{{ .ReplyTo }}" />
  {{ end }}

  <div class="box"
       data-controller="mdeditor"
       data-mdeditor-upload-value="{{ link "action" "upload_media" }}"
    >
    {{ template "partial--editor-toolbar.html" toMap "UploadID" (printf "file_upload%v%v%v" .PostID .ReplyTo .EditID) }}

    <label class="sr-only" for="commentBody{{ .PostID }}{{ .ReplyTo }}{{ .EditID }}">Your Comment</label>
    <textarea class="comment-textarea" name="body" rows="3" placeholder="Add a comment" id="commentBody{{ .PostID }}{{ .ReplyTo }}{{ .EditID }}" autocomplete="off" required{{ if (.Errors.HasError "body") }} aria-invalid="true" aria-describedby="commentError{{ .PostID }}{{ .ReplyTo }}{{ .EditID }}"{{ end }}>{{ if .Input }}{{ .Input.Body }}{{ else }}{{ .Body }}{{ end }}</textarea>
    {{ if (.Errors.HasError "body") }}
    <p class="field-error" id="commentError{{ .PostID }}{{ .ReplyTo }}{{ .EditID }}">{{ .Errors.body }}</p>
    {{ end }}

    <div class="box-foot">
      <p class="field-help">Markdown works here. Ctrl/Cmd-Enter to submit.</p>
      <div class="box-actions">
        {{ with .FormError }}<span class="status err" role="alert">{{ . }}</span>{{ end }}
        <button type="button" role="close" class="btn btn-secondary">Close</button>
        <button type="submit" class="btn btn-primary">{{ if .EditID }}Save{{ else }}Post a comment{{ end }}</button>
      </div>
    </div>
  </div>
</form>
