{{ template "header.html" . }}

<div class="user-styles-applied us-user-home user-home">
<div class="container col-md-8">
  <div class="row justify-content-md-center mt-lg-4 mt-2">
    <h1 class="us-user-header user-header">Public posts <a href="{{ link "public_feed" }}" title="RSS feed" aria-label="RSS feed"><i class="bi bi-rss"></i></a></h1>

    {{ if eq (len .Items) 0 }}
    <p>There are no public posts yet.</p>
    {{ else }}
      {{ template "partial--feed-items.html" toMap "Items" .Items "User" .User "Next" .Next "URL" .LoadMoreURL "Translation" .Translation }}
    {{ end }}
  </div>
</div>
</div>

{{ template "footer.html" . }}
