{{ with .Post }}
  <div class="mt-3 us-feed-post feed-post">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title fs-6"><a href="{{ link "post" .ID }}">{{ .PostSubject }}</a> </h5>
        <small><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> {{ if gt (len .Via) 0 }}  &#8594; {{ range $index, $element := .Via }}{{ if $index }}, {{ end }}<a href="{{ link "user" $element.Username }}">{{ .Username }}</a>{{ end }}{{ end }} <span class="us-post-date post-date">posted {{ renderHumanTime .PublishedAt.Time $.User.DBUser }}</span></small>
      </div>

      <div class="card-body">
        {{ template "translation.slot" ($.Translation.Slot "post" .ID "feed" .Body .Language.String) }}

        {{ if .LinkedURL }}
        <div class="mt-2 text-center">
          <a href="{{ .LinkedURL.URL }}" target="_blank" rel="noopener noreferrer">{{ .LinkedURL.URL }}</a>
        </div>
        {{ end }}

        {{ if .Capabilities.CanViewComments }}
        <div class="text-center mt-2 us-feed-post-stats feed-post-stats">
          <a href="{{ link "post" .ID }}">
          {{ if eq 0 .CommentsNumber }}
            No Comments yet
          {{ else if eq 1 .CommentsNumber }}
            One comment
          {{ else }}
            {{ .CommentsNumber }} comments
          {{ end }}
          </a>

          {{ if .Capabilities.CanEdit }}
            <a href="{{ link "edit_post" .ID }}">Edit</a>
          {{ end }}
        </div>
        {{ end }}

      </div>
    </div>
  </div>
{{ end }}
