<div class="card mt-2">
  <h5 class="card-header">Feeds</h5>
  <div class="card-body">
    <p>Add RSS feeds that you'd like to follow there</p>

    {{ if gt (len .Feeds) 0}}
    <ul class="list-group list-group-flush">
      {{ range .Feeds }}
      <li class="list-group-item px-2 py-1">
        <div class="d-flex justify-content-between align-items-center gap-2">
          <div class="overflow-hidden flex-grow-1">
            <div class="d-flex align-items-baseline gap-1">
              <a href="{{ .WebsiteURL }}" target="_blank" rel="noopener noreferrer">{{ with .Title }}{{ . }}{{ else }}{{ .WebsiteURL }}{{ end }}</a>
              <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" class="ms-1 text-muted small" title="RSS Feed"><i class="bi bi-rss"></i></a>
            </div>
            <div class="d-flex flex-wrap small gap-2">
              <span><span class="text-muted">Fetched:</span> {{ with .LastFetchedAt }}{{ renderHumanTime . $.User.DBUser }}{{ else }}Never{{ end }}</span>
              <span><span class="text-muted">Post:</span> {{ with .LastImportedAt }}{{ renderHumanTime . $.User.DBUser }}{{ else }}None{{ end }}</span>
              <span><span class="text-muted">Next:</span> {{ with .NextFetchAt }}{{ renderHumanTime . $.User.DBUser }}{{ else }}Now{{ end }}</span>
            </div>
            {{ with .LastError }}
            <details class="small">
              <summary class="text-danger" role="button">Error</summary>
              <div class="text-danger mt-1">{{ . }}</div>
            </details>
            {{ end }}
          </div>
          <button type="button"
                  class="btn btn-sm btn-outline-danger flex-shrink-0"
                  data-controller="action"
                  data-action="action#run"
                  data-action-action-value="remove_rss_subscription"
                  data-action-prompt-value="Do you want to unsubcribe from {{ .URL }}?"
                  data-id="{{ .ID }}"
                  ><i class="bi-trash"></i></button>
        </div>
      </li>
      {{ end }}
    </ul>
    {{ end }}

    {{ template "form--settings-feeds.html" . }}
  </div>
</div>
