{{ range .Posts }}
<div class="mt-3 us-feed-post">
  <div class="card">
    <h5 class="card-header"><a href="{{ link "post" .ID }}">{{ .PostSubject }}</a> <span class="us-post-date post-date">posted {{ renderHumanTime .PublishedAt.Time $.User.DBUser }}</span></h5>
    <div class="card-body">
      {{ template "translation.slot" ($.Translation.Slot "post" .ID "home" .Body .Language.String) }}

      {{ if .LinkedURL }}
      <div class="mt-2 text-center">
        <a href="{{ .LinkedURL.URL }}" target="_blank" rel="noopener noreferrer">{{ .LinkedURL.URL }}</a>
      </div>
      {{ end }}

      {{ if .Capabilities.CanViewComments }}
      <div class="text-center mt-2 us-feed-post-stats">
        <a href="{{ link "post" .ID }}">
        {{- if eq 0 .CommentsNumber -}}
          No Comments yet
        {{- else if eq 1 .CommentsNumber -}}
          One comment
        {{- else -}}
          {{ .CommentsNumber }} comments
        {{- end -}}
        </a>

        {{ if .Capabilities.CanEdit }}
          <a href="{{ link "edit_post" .ID }}">Edit</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ with .Next }}{{ template "partial--load-more.html" toMap "URL" $.URL "Cursor" . }}{{ end }}
