{{ template "header.html" . }}
<main class="auth">
  <h1 class="auth-title" data-testid="auth-title">
    {{ if .RegistrationOpen }}New Account{{ else }}Join the waiting list{{ end }}
  </h1>
  {{ if .RegistrationOpen }}
    {{ template "form--signup.html" toMap "Attribution" .Attribution }}
  {{ else }}
    <p class="field-help auth-note">The registration is not public yet, feel free to drop us a message and we will create an account for you.</p>
    {{ template "form--signup-waitlist.html" toMap "Attribution" .Attribution }}
  {{ end }}
</main>
{{ template "footer.html" . }}
