{{ template "header.html" . }}

{{ with .Post }}
<link rel="stylesheet" href="{{ link "user_styles" .Author.Username }}" />
<div class="user-styles-applied us-single-post">
<div class="container col-md-8">
  <div class="row justify-content-md-center mt-lg-4 mt-2">
    <h1 class="us-post-header"><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a>  &#8594; {{ .PostSubject }}{{ if not .IsPublished }} <small class="text-muted">Draft</small>{{ end }}</h1>

    {{ with $.PostShare }}
    <p class="us-public-link">
      Public link: <a href="{{ link "shared_post" .ID }}">{{ .ID }}</a>
      <a
        href="#"
        data-controller="action"
        data-action="action#run"
        data-post-id="{{ .PostID }}"
        data-action-action-value="delete_share"
        data-action-prompt-value="Do you want to delete the public link for this post?"
        ><i class="bi bi-trash"></i></a>
    </p>
    {{ end }}

    <div class="mt-3 post-full us-post-body">
      {{ if .EditPreview }}
      {{ markdown_edit_preview .Body }}
      {{ else }}
      {{ markdown_single_post .Body }}
      {{ end }}
    </div>

    {{ if .LinkedURL }}
    <div class="mt-2 text-center">
      <a href="{{ .LinkedURL.URL }}" target="_blank" rel="noopener noreferrer">{{ .LinkedURL.URL }}</a>
    </div>
    {{ end }}
  </div>
  {{ if not .EditPreview }}
    {{ if .Capabilities.CanViewComments }}
    <div class="text-center mt-2 us-comment-stats comment-stats">
        {{ if .Capabilities.CanLeaveComments }}
          <a data-controller="toggle"
            href="#"
            data-toggle-target-value="#post{{ .ID }}"
            data-toggle-focus-value="#post{{ .ID }} textarea"
            data-toggle-close-others-selector-value='[id^="post"], [id^="comment-wrapper"]'
            >{{ end -}}
        {{- if eq 0 .CommentsNumber -}}
          No Comments yet
        {{- else if eq 1 .CommentsNumber -}}
          One comment
        {{- else -}}
          {{ .CommentsNumber }} comments
        {{- end -}}
      {{- if .Capabilities.CanLeaveComments }}</a>{{ end }}
      {{ end }}

      {{ if .Capabilities.CanEdit }}
        <a href="{{ link "edit_post" .ID }}"><i class="bi bi-pencil-fill"></i></a>
      {{ end }}
      {{ if and .Capabilities.CanShare (not $.PostShare) }}
        <a
          href="#"
          data-controller="action"
          data-action="action#run"
          data-post-id="{{ .ID }}"
          data-action-action-value="create_share"
          data-action-prompt-value="Do you want to create a public link for this post?"
          ><i class="bi bi-share"></i></a>
      {{ end }}
    </div>

    {{ if .Capabilities.CanLeaveComments }}
      <div class="card mt-2 collapse" id="post{{ .ID }}">
        <div class="card-body bg-theme-surface">
          {{ template "form--comment.html" toMap "PostID" .ID }}
        </div>
      </div>
    {{ end }}

    <div class="us-comments-section">

    {{ $canLeaveComments := .Capabilities.CanLeaveComments }}
    {{ range $.Comments }}
    <div id="comment{{ .PostID }}{{ .ID }}"
         class="us-single-comment mt-3 {{ if gt .Level 0 }}{{ if lt .Level 6 }}comment-{{ .Level }}{{ else }}comment-5{{ end }}{{ end }}">
        <div class="card">
          <h5 class="card-header fs-6">
            [<a hx-boost="false" href="{{ link "comment" .PostID .ID }}">#</a>]
            <a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> responded at {{ renderTimestamp .CreatedAt $.User.DBUser }}
          </h5>
          <div class="card-body">
            <div class="mt-3 post-user-home">{{ markdown_comment .Body }}</div>

            {{ if $canLeaveComments }}
            <div class="text-center">
              <button class="btn btn-sm btn-primary"
                      type="button"
                      data-controller="toggle"
                      data-toggle-hide-target-value="true"
                      data-toggle-target-value="#comment-wrapper{{ .PostID }}{{ .ID }}"
                      data-toggle-focus-value="#comment-wrapper{{ .PostID }}{{ .ID }} textarea"
                      data-toggle-close-others-value="true"
                      data-toggle-close-others-selector-value='[id^="post"], [id^="comment-wrapper"]'
                      >
                Leave a comment
              </button>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{ if $canLeaveComments }}
      <div class="card mt-2 collapse" id="comment-wrapper{{ .PostID }}{{ .ID }}">
        <div class="card-body bg-theme-surface">
          {{ template "form--comment.html" toMap "PostID" .PostID "ReplyTo" .ID "ReplyToAuthor" .Author.Username }}
        </div>
      </div>
      {{ end }}
    {{ end }}
    </div>
  {{ end }}
</div>
</div>
{{ end }}

{{ template "footer.html" . }}
