{{ template "header.html" . }}

<div class="container col-md-8">
  <div class="row justify-content-md-center mt-lg-4 mt-2">
    <h1><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a>  &#8594; Latest Posts</h1>

    <div class="alert alert-info mt-2" role="alert">
      {{ if .ConnectionRadius.IsSameUser }}You're reading your own journal
      {{- else if .ConnectionRadius.IsDirect }}
        You're connected with {{ .Author.Username }}
        <button type="button"
                class="btn btn-sm btn-danger"
                data-controller="action"
                data-action="action#run"
                data-action-action-value="drop_connection"
                data-user-id="{{ .Author.ID }}"
                data-action-prompt-value="Do you want to drop the connection with {{ .Author.Username }}?"
                >Disconect</button>
      {{- else if .ConnectionAllowed }}
        {{- if .ConnectionRadius.IsSecondDegree }}
          One of your direct connections has a connection with {{ .Author.Username }}
        {{ end }}
        <p>{{ .Author.Username }} has allowed you to connect
          <button type="button"
                  class="btn btn-sm btn-success"
                  data-controller="action"
                  data-action="action#run"
                  data-action-action-value="create_connection"
                  data-user-id="{{ .Author.ID }}"
                  data-action-prompt-value="Do you want to connect to {{ .Author.Username }}?"
                  >Connect</button>
        </p>
      {{- else if .ConnectionRadius.IsSecondDegree }}
        One of your direct connections has a connection with {{ .Author.Username }}
        {{ with .MediationRequest }}
        <em>You've requested mediation request {{ with .SourceNote.Ptr }} with note <b>{{ . }}</b>{{ end }}</em>
        <button type="button"
                class="btn btn-sm btn-danger"
                data-controller="action"
                data-action="action#run"
                data-action-action-value="revoke_mediation_request"
                data-user-id="{{ .TargetUserID }}"
                >Revoke request</button>
        {{ else }}
        <button type="button"
                class="btn btn-sm btn-success"
                data-controller="action"
                data-action="action#run"
                data-action-action-value="request_mediation"
                data-action-prompt-field-value="mediation_note"
                data-action-prompt-value="Do you want to request your connections to introduce to {{ .Author.Username }}? Leave note to the to make the decision simpler"
                data-user-id="{{ .Author.ID }}"
                >Ask for introduction</button>
        {{ end }}
      {{- else if .ConnectionRadius.IsUnrelated }}You have no relation to {{ .Author.Username }}{{ end }}
    </div>

    {{ if .ConnectionRadius.IsUnrelated }}
    <p>You are not allowed to see posts in this journal</p>
    {{ else }}
      {{ if eq (len .Posts) 0 }}
        {{ if .ConnectionRadius.IsSecondDegree }}<p>Author has no posts shared outside of direct connetions</p>
        {{- else }}<p>No posts yet</p>{{ end }}
      {{ else }}
        {{ range .Posts }}
        <div class="mt-3">
          <div class="card">
            <h5 class="card-header"><a href="{{ link "post" .ID }}">{{ .Subject }}</a> posted at {{ renderTimestamp .PublishedAt.Time $.User.DBUser }}</h5>
            <div class="card-body">
              <div class="mt-3 post-user-home">{{ markdown_feed .Body .ID }}</div>

              {{ if .Capabilities.CanViewComments }}
              <div class="text-center mt-2">
                <a href="{{ link "post" .ID }}">
                {{- if eq 0 .CommentsNumber -}}
                  No Comments yet
                {{- else if eq 1 .CommentsNumber -}}
                  One comment
                {{- else -}}
                  {{ .CommentsNumber }} comments
                {{- end -}}
                </a>

                {{ if .Capabilities.CanEdit }}
                  <a href="{{ link "edit_post" .ID }}">Edit</a>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>

{{ template "footer.html" . }}
