{{ template "header.html" . }}
<link rel="stylesheet" href="{{ link "user_styles" .Author.Username }}" />

<div class="user-styles-applied us-user-home user-home">
<main class="posts-page">
  <div class="posts-head">
    <h1 class="us-user-header user-header page-title"><a href="{{ link "user" .Author.Username }}">{{ .Author.Username }}</a> &#8594; Latest Posts</h1>
  </div>

  {{ if .User.IsLoggedIn }}
  <div class="conn">
    {{ if .ConnectionRadius.IsSameUser }}<p>You're reading your own journal</p>
    {{- else if .ConnectionRadius.IsDirect }}
      <p>You're connected with {{ .Author.Username }}</p>
      <button type="button"
              class="btn btn-danger"
              data-controller="action"
              data-action="action#run"
              data-action-action-value="drop_connection"
              data-user-id="{{ .Author.ID }}"
              data-action-prompt-value="Do you want to drop the connection with {{ .Author.Username }}?"
              >Disconect</button>
    {{- else if .ConnectionAllowed }}
      {{- if .ConnectionRadius.IsSecondDegree }}
        <p>One of your direct connections has a connection with {{ .Author.Username }}</p>
      {{ end }}
      <p>{{ .Author.Username }} has allowed you to connect</p>
      <button type="button"
              class="btn btn-primary"
              data-controller="action"
              data-action="action#run"
              data-action-action-value="create_connection"
              data-user-id="{{ .Author.ID }}"
              data-action-prompt-value="Do you want to connect to {{ .Author.Username }}?"
              >Connect</button>
    {{- else if .ConnectionRadius.IsSecondDegree }}
      <p>One of your direct connections has a connection with {{ .Author.Username }}</p>
      {{ with .MediationRequest }}
      <p>You've requested mediation request{{ with .SourceNote }} with note <b>{{ . }}</b>{{ end }}</p>
      <button type="button"
              class="btn btn-secondary"
              data-controller="action"
              data-action="action#run"
              data-action-action-value="revoke_mediation_request"
              data-user-id="{{ .TargetUserID }}"
              >Revoke request</button>
      {{ else }}
      <button type="button"
              class="btn btn-primary"
              data-controller="action"
              data-action="action#run"
              data-action-action-value="request_mediation"
              data-action-prompt-field-value="mediation_note"
              data-action-prompt-value="Do you want to request your connections to introduce to {{ .Author.Username }}? Leave note to the to make the decision simpler"
              data-user-id="{{ .Author.ID }}"
              >Ask for introduction</button>
      {{ end }}
    {{- else if .ConnectionRadius.IsUnrelated }}<p>You have no relation to {{ .Author.Username }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with .About }}
  <section class="about">
    <h2 class="sect-title">About</h2>
    <div class="prose us-profile-about">{{ markdown_profile . }}</div>
  </section>
  {{ end }}

  {{ if .ConnectionRadius.IsUnrelated }}
  <p class="empty">You are not allowed to see posts in this journal</p>
  {{ else }}
    {{ if eq (len .Posts) 0 }}
      {{ if .ConnectionRadius.IsSecondDegree }}<p class="empty">Author has no posts shared outside of direct connetions</p>
      {{- else }}<p class="empty">No posts yet</p>{{ end }}
    {{ else }}
      {{ template "partial--post-list.html" toMap "Posts" .Posts "User" .User "Next" .Next "URL" (link "user" .Author.Username) }}
    {{ end }}
  {{ end }}
</main>
</div>

{{ template "footer.html" . }}
