name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Run Tests and Linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libvips-dev

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.0
          args: --timeout=5m
          skip-pkg-cache: true
          skip-build-cache: true

      - name: Build
        run: go build -v ./...

      - name: Run Tests
        run: go test -v ./...

      - name: Run Linter
        run: golangci-lint run ./... --timeout=5m
